
body {
    background-color: rgb(232, 232, 232);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.list-group {
    background-color: transparent;
}

.navbar-brand {
    margin: 0%;
}

.head-text {
    font-size: 1.8em;
}

 .custom-b {
    border-radius: 0px;
}

.navbar-brand {
    border-radius: 0.1em;
    padding: 0.15em;
}

.form-custom {
    width: 19em;
    margin-left: auto;
    margin-right: auto;
}

.form-custom-el {
    margin-bottom: 0.5em;
}

.form-title {
    text-align: center;
}

.btn-form {
    text-align: center;
    width: 100%;
}

.form-error {
    color: red;
}

/* animation */

.wrapper {
    height: 10vh;
    display: grid;
    place-items: center;
}

.typing-demo {
    width: 39ch;
    animation: typing 3.5s steps(39), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.4em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


