{% comment %} <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> {% endcomment %}

<div class="page-holder bg-cover">
  <div class="container">
    <header class="text-center text-dark py-4">
      <h1 class="display-1 font-weight-bold mb-4">Car Overview</h1>
      <p class="head-text lead mb-0">Python Django based website for sharing car overviews</p>
    </header>
  </div>
</div>
<br>

<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-12">
		<div class="card mb-5 shadow rounded">
			<img src="https://carwow-uk-wp-3.imgix.net/Volvo-XC40-white-scaled.jpg" class="img-fluid" alt="sas">

			<div class="card-body">
				<div class="card-title">
					<h2>Subaru M3</h2>
				</div>
				<div class="card-text">
					<h5>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
						Facere aliquam tempora itaque quod hic laboriosam recusandae possimus, ea libero consequatur, 
						quidem illo vitae delectus inventore, dolor expedita soluta sed eligendi.
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12">
		<div class="card mb-5 shadow rounded">
			<img src="https://carwow-uk-wp-3.imgix.net/Volvo-XC40-white-scaled.jpg" class="img-fluid" alt="sas">

			<div class="card-body">
				<div class="card-title">
					<h2>Subaru M3</h2>
				</div>
				<div class="card-text">
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
						Facere aliquam tempora itaque quod hic laboriosam recusandae possimus, ea libero consequatur, 
						quidem illo vitae delectus inventore, dolor expedita soluta sed eligendi.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12">
		<div class="card mb-5 shadow rounded">
			<img src="https://carwow-uk-wp-3.imgix.net/Volvo-XC40-white-scaled.jpg" class="img-fluid" alt="sas">

			<div class="card-body">
				<div class="card-title">
					<h2>Subaru M3</h2>
				</div>
				<div class="card-text">
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
						Facere aliquam tempora itaque quod hic laboriosam recusandae possimus, ea libero consequatur, 
						quidem illo vitae delectus inventore, dolor expedita soluta sed eligendi.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12">
		<div class="card mb-5 shadow rounded">
			<img src="https://carwow-uk-wp-3.imgix.net/Volvo-XC40-white-scaled.jpg" class="img-fluid" alt="sas">

			<div class="card-body">
				<div class="card-title">
					<h2>Subaru M3</h2>
				</div>
				<div class="card-text">
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
						Facere aliquam tempora itaque quod hic laboriosam recusandae possimus, ea libero consequatur, 
						quidem illo vitae delectus inventore, dolor expedita soluta sed eligendi.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>